<%- include partials/_header %>


<!-- <h1>Welcome to TinyApp!</h1> -->


<div class="jumbotron">

<% if(!currentUser) { %>

  <form action="/login" method="POST" >
    <h1>TinyApp</h1>
    <br/>
    <h4>Login:</h4>
    <table>
      <tr>
        <td><label>Email: </label></td>
        <td><input type="email" name="email"></td>
      </tr>
      <tr>
        <td><label>Password: </label></td>
        <td><input type="password" name="password"></td>
      </tr>
      <tr>
        <td></td>
        <td><button class="btn btn-success">Sign in</button></td>
      </tr>
    </table>
  </form>
  <br>
  <h6>Don't have an account? <a href="/register">register!</a></h6>
<% } else { %>
    <form method="POST" action="/logout">
      <div class="navbar">
        <h1>TinyApp</h1>
        <div>
          <h5 class="user-navbar"> <b><%= currentUser.email %></b> is now logged in.</h5>
          <button class="btn btn-danger">Logout</button>
        </div>
    </div>
    </form>

<% } %>


</div>



