
<p><b>Registration:</b></p>
<form method="POST" action="/register">
  <label>Email: </label><input type="email" name="email" placeholder="user@example.com">
  <label>Password: </label><input type="password" name="password" placeholder="password">
  <button>Submit</button>

</form>

<p>Already have an account? Login <a href="/login">here</a></p>